[submodule "lottery/lib/forge-std"]
	path = lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lottery/lib/chainlink-brownie-contracts"]
	path = lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lottery/lib/solmate"]
	path = lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lottery/lib/foundry-devops"]
	path = lottery/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "erc20/lib/forge-std"]
	path = erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20/lib/openzeppelin-contracts"]
	path = erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/forge-std"]
	path = nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft/lib/openzeppelin-contracts"]
	path = nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/foundry-devops"]
	path = nft/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "DeFi/lib/forge-std"]
	path = DeFi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi/lib/openzeppelin-contracts"]
	path = DeFi/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "DeFi/lib/chainlink-brownie-contracts"]
	path = DeFi/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "UpgradableContract/lib/forge-std"]
	path = UpgradableContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "UpgradableContract/lib/openzeppelin-contracts-upgradeable"]
	path = UpgradableContract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "UpgradableContract/lib/openzeppelin-contracts"]
	path = UpgradableContract/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "UpgradableContract/lib/foundry-devops"]
	path = UpgradableContract/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "DAO/lib/forge-std"]
	path = DAO/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
